<!DOCTYPE html>

    <head>
        <title>DELETE ROOM</title>
        <meta charset='utf-8'>
        <%- include ('../partials/head'); %>
        <style>
            #navbar{
                margin-right: 12px;
            }        
        </style>
    </head>

    <body class = "container">
        <h1>
           DELETE ROOM 
        </h1>   
        <header>
            <nav>
                <a href = "/home" id = "navbar"> Home</a>
                <a href = "/room/get" id = "navbar"> GET</a> 
                <a href = "/room/put" id = "navbar"> PUT</a> 
                <a href = "/room/post" id = "navbar"> POST</a> 
                <a href = "/room/delete" id = "navbar"> DELETE</a>
            </nav>
            
        </header>  
        

            <div class = "row">
                <div class = "col pr-0">
                    <main class = "jumbotron" style = "height:100%;">
                        <h2>DELETE ROOM</h2>
                        <form action = "/room/delete" method = "post" style = "text-align: left;">
                            Select Room: 
                            <select name = "selectedroom" class = "form-control">
                                <%if(locals.available_rooms){%>
                                    <%locals.available_rooms_with_floor.forEach (function(x){%>
                                        <option value = "<%=x.level%> <%=x.number%> <%=x.id%>"> Floor <%=x.level%>, Room #<%=x.number%>  </option>
                                    <%});%>
                                <%}%>
                                
                            </select>
                            <br>
                            
                            <input type = "submit" class = "btn btn-primary">
                        </form>
                        <br>
                        <%if (locals.api_response){%>
                            <span style = "color:green; font-weight: bold;"><%=api_response%></span>
                        <%}%>
                    </main>
                </div>


                <div class = "col pl-0">
                    
                    <main class = "jumbotron" style = "height:100%;">
                        <h2> Room Database</h2>
                        <table class = "table table-sm table-primary" style = "width:60%;">
                            <tr>
                                <th class = "text-center">Floor</th>
                                <th class = "text-center">Room Number</th>
                                <th class = "text-center">Capacity</th>
                            </tr>
                                <%if(locals.available_rooms_with_floor){%>
                                <%locals.available_rooms_with_floor.forEach(function(x){%>
                                    
                                    <tr>
                                        <td class = "text-center"><%=x.level%></td>
                                        <td class = "text-center">#<%=x.number%></td>
                                        <td class = "text-center"><%=x.capacity%></td>
                                    </tr>
                                    
                                <%})%>
                                <%}%>
                        </table>
                    </main>
                    
                </div>
            </div>
            
        <script>
            if (window.history.replaceState ){
                    window.history.replaceState( null, null, window.location.href );
            }
        </script>
        <footer>
            <%- include('../partials/footer.ejs'); %>
        </footer>
    </body>
    
</html>
        
<!-- Preventing form resubmission on reload - https://stackoverflow.com/questions/6320113/how-to-prevent-form-resubmission-when-page-is-refreshed-f5-ctrlr -->