<!DOCTYPE html>

    <head>
        <title>POST FLOOR</title>
        <meta charset='utf-8'>
        <%- include ('../partials/head'); %>
        <style>
            #navbar{
             margin-right: 12px;
            }
            
         </style>
    </head>

    <body class = "container">
        <h1>
           POST FLOOR
        </h1>   
        <header>
            <nav>
                <a href = "/home" id = "navbar"> Home</a>
                <a href = "/floor/get" id = "navbar"> GET</a> 
                <a href = "/floor/put" id = "navbar"> PUT</a> 
                <a href = "/floor/post" id = "navbar"> POST</a> 
                <a href = "/floor/delete" id = "navbar"> DELETE</a>
            </nav>
        </header>  

        <div class = "row">
            <div class = "col pr-0">
                <main class = "jumbotron" style = "height:100%;">
                    <h2>Post New Floor </h2>
                    <br>
                    <form action = "/floor/post" method = "post" style = "text-align: left;" >
                        New Floor Level: <input type = 'text' name = "level" required class = "form-control" placeholder = "Input New Floor Level (Number)">  <br>
                        Floor Name: <input type = 'text' name = "name" required class = "form-control" placeholder = "Input Floor Name"> <br>
                        <input type = 'submit' class="btn btn-primary">
                    </form>
                    <br>
                    
                    <%if (locals.api_response){%>
                        <%if (api_response.includes("Available") || api_response.includes("Max")|| api_response.includes("Invalid")){%>
                            <span style = "color:red; font-weight: bold;"><%=api_response%></span>
                        <%}

                        else{%>
                            <span style = "color:green; font-weight: bold;"><%-api_response%></span>
                            <%}
                        %>
                    <%}%>
                    
                </main>
                
            </div>
            
            <div class = "col pl-0">
                <main class = "jumbotron" style = "height:100%;">
                    
                    <h2>Floor Database</h2>
                    
                    <table class = "table-sm table table-primary" style ="width:60%;">
                        <tr>
                            
                            <th class = "text-center">Floor Level</th>
                            <th>Floor Name</th>
                        </tr>
                        <%if(locals.floors_posted){%>
                            <%if(locals.level && locals.name){%>
                                <%locals.floors_posted.forEach(function(x){%>
                                    <tr>
                                        <%if((x.level == locals.level) &&(x.name == locals.name)){%>
                                            <td class = "text-center" style = "background-color: rgb(200, 255, 200);"><%=x.level%></td>
                                            <td style = "background-color: rgb(200, 255, 200);"><%=x.name%></td>
                                        <%}
                                        else{%>
                                            <td class = "text-center"><%=x.level%></td>
                                            <td ><%=x.name%></td>
                                        <%}%>
                                    </tr>
                                        
                                    <%})%>
                            <%}
                            else{%>
                                <%locals.floors_posted.forEach(function(x){%>
                                    <tr>
                                        <td class = "text-center"><%=x.level%></td>
                                        <td ><%=x.name%></td>
                                    </tr>
                                <%})%>
                            <%}%>        
                        <%}%>
                </table>
                </main>
            </div>   
        </div>
                
        </main>

        <script>
            if (window.history.replaceState){
                    window.history.replaceState( null, null, window.location.href );
            }
        </script>

        <footer>
            <%- include('../partials/footer.ejs'); %>
        </footer>
    </body>
    
</html>
        